body {
    font-family: Brush Script MT, FreeMono, serif;
    line-height: 2.5;
    
    border: 4px groove #4b2626;

    background-color: #ecbf83;
    color: #4b2626;
  
    width: 880px;
    margin: 0 auto;
    /* margin с такими параметрами, 
    при заданном свойстве width, 
    центрует элемент по горизонтали*/
}
h1 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
h3 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
h2 {
    text-align: left;
    font-style: italic;
}
.fire {
    background-color: #f76e6e;
    margin: 0;
    padding: 0;
    border: 4px groove #4b2626;
}
.study {
    font-size: 20px;
    line-height: 1.5;
}
.green {
    background-color: #6bf182;
    margin: 0;
    padding: 0;
    border: 4px groove #4b2626;
}
.water {
    font-size: 18px;
    line-height: 1.6;
}
