body {
    font-family: Brush Script MT, FreeMono;
    line-height: 2.5;

    background-color: #ecbf83;
    color: #4b2626;
    
    border-color: #4b2626;
    border-style: double;
    border-width: 2px;
  
    width: 880px;
    margin: 0 auto;
  }
h1 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
h3 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
h2 {
    text-align: left;
    font-style: italic;
}
.fire {
    background-color: #f76e6e;
    border-color: #975757;
    border-style: double;
    border-width: 4px;
}
.study {
    font-size: 20px;
    line-height: 1.5;
}
.green {
    background-color: #6bf182;
    border-color: #975757;
    border-style: double;
    border-width: 4px;
}
.water {
    font-size: 18px;
    line-height: 1.6;
}
